  <!-- 友情链接 --> 
  <div id="links"> 
   <ul> 
    <li id="linkcat-25" class="linkcat"><h2>博友</h2> 
     <ul class="xoxo blogroll"> 
	{volist name="links" id="vo"}
      <span class="lx7"><span class="link-f"><a href="{{$vo.site_url}}" target="_blank">{{$vo.site_name}}</a></span></span> 
	{/volist}
     </ul> </li> 
   </ul> 
   <div class="clear"></div> 
  </div> 
  <!-- 版权说明 --> 
  <footer id="footer"> 
   <div class="bottom-nav"> 
    <div class="menu-container"> 
     <ul id="menu" class="bottom-menu"> 
      <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="www.lampol-blog.com/archives">文章归档</a></li> 
      <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="www.lampol-blog.com/sitemap">站点地图</a></li> 
      <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="www.lampol-blog.com/message">给我留言</a></li> 
      <li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a href="www.lampol-blog.com/links">友情链接</a></li> 
     </ul> 
    </div> 
   </div> 
   <div id="contentinfo">
     Copyright &copy; 2007-2017 
    <a href="www.lampol-blog.com/" rel="home">lampol</a> All rights reserved. | Theme by 
    <a href="www.lampol-blog.com/27.html" title="lampol" target="_blank">Mydream</a> | 鲁ICP备11034536号 
   </div> 
  </footer> 
  <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        loop: true, /**循环**/
		autoplayDisableOnInteraction: false,
		direction: 'vertical',	/**切换方向**/	
		speed: 500,  /**幻灯片切换时间**/
		autoplay: 5000, /**设置，自动播放开启，并设置停留时间**/
        paginationClickable: true, /**导航可以点击**/
		effect: 'flip', /**切换效果**/	
    });
</script> 
 </body>
</html>
