<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <meta http-equiv="Cache-Control" content="no-siteapp" /> 
  <title>{{$sys.site_title}}</title> 
  <meta name="description" content="{{$sys.site_desc}}" /> 
  <meta name="keywords" content="{{$sys.site_keywords}}" /> 
  <!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]--> 
  <link rel="stylesheet" id="crayon-font-mydream-css" href="__HOME__/css/mydream.css" type="text/css" media="all" /> 
  <link rel="stylesheet" id="style-css" href="__HOME__/css/style.css" type="text/css" media="all" /> 
  <link rel="stylesheet" id="swiper-css-css" href="__HOME__/css/swiper.min.css" type="text/css" media="all" /> 
  <script type="text/javascript" src="__HOME__/js/jquery.min.js"></script> 
  <script src="__HOME__/js/swipe.jquery.min.js"></script> 
  <link rel='stylesheet' id='iconfont-css'  href='__HOME__/css/font.css' type='text/css' media='all' />
  <script type='text/javascript' src='__HOME__/js/superfish.js'></script>
 </head> 
 <body> 
  <header id="masthead" class="site-header"> 
   <div id="fix-header"></div> 
   <div id="menu-box"> 
    <div id="main-menu"> 
     <hgroup class="logo-sites"> 
      <h1 class="site-title"> <a href="/"><img src="__HOME__/images/logo.png" alt="lampol" /></a> </h1> 
     </hgroup> 
     <div id="sidr-close"> 
      <a href="#sidr-close" class="toggle-sidr-close">&times;</a> 
     </div> 
     <a href="#sidr-main" id="navigation-toggle" class="bars"><i class="iconfont icon-viewheadline"></i></a> 
     <div id="site-nav-wrap"> 
      <nav id="site-nav" class="main-nav"> 
       <div class="menu-container"> 
        <ul id="menu" class="down-menu nav-menu">
		{if(isset($cur))}	
         <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item"><a href="/"><i class="iconfont icon-home"></i>首页</a></li> 
	 	{else/}
         <li class="menu-item menu-item-type-custom menu-item-object-custom current_page_item"><a href="/"><i class="iconfont icon-home"></i>首页</a></li> 
			
		{/if}
	 {volist name="cats" id="vo"}
	 	{if(isset($cat_id)&&$vo.id==$cat_id)}
	 <li class="menu-item menu-item-type-taxonomy current-menu-item  menu-item-object-category menu-item-has-children"><a href="{{:url('/list',['cid'=>encrypt($vo.id)])}}">{{$vo.cat_name}}</a> </li>
		{else/}
	 <li class="menu-item menu-item-type-taxonomy  menu-item-object-category menu-item-has-children"><a href="{{:url('/list',['cid'=>encrypt($vo.id)])}}">{{$vo.cat_name}}</a> </li>
		

		{/if}	
	 {/volist}
        </ul> 
       </div> 
      </nav> 
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </header>
