   <div class="breadcrumb"> 
    <a class="crumbs" title="返回首页" href="/">返回首页</a>
   </div> 
   <div id="content"> 
    <div id="primary" class="single-area"> 
     <main id="main" class="site-main" role="main"> 
      <!-- 文章内容 --> 
      <article id="post-93" class="post-93 post type-post status-publish format-standard hentry category-web-technology tag-ssl tag-startssl tag-43"> 
       <header class="entry-header"> 
        <div class="single-meta"> 
		<span><i class="iconfont icon-calendartext"></i>&nbsp;{{$article.created_at|date='Y-m-d H:i:s',###}}</span> 
		<span><i class="iconfont icon-chartbar"></i>&nbsp;{{$article.views}}</span> 
         <span><a href="www.lampol-blog.com/93.html#comments"><i class="iconfont icon-messageprocessing"></i> 2</a></span> 
        </div> 
        <div class="clear"></div> 
	<h1 class="entry-title">{{$article.title}}</h1> 
        <div class="single-tag">
         <i class="iconfont icon-tagmultiple"></i>&nbsp;标签：
	 <a href="www.lampol-blog.com/tag/ssl" rel="tag">{{$article.tag}}</a>&nbsp;&nbsp;
        </div> 
        <div class="clear"></div> 
       </header> 
       <div class="single-content">
	       {{$article.contents}}
       </div> 
       <!-- 文章点赞分享 --> 
       <div class="clear"></div> 
       <div id="social"> 
        <div class="social-main"> 
         <span class="post-like"> <a href="javascript:;" data-action="ding" data-id="93" class="md_like "><i class="iconfont icon-thumbupoutline"></i>喜欢 <i class="count"> 0</i> </a> </span> 
         <span class="share-sd"> <span class="share-s"><a href="javascript:void(0)" id="share-s" title="分享"><i class="iconfont icon-sharevariant"></i>分享</a></span> 
          <div id="share"> 
           <ul class="bdsharebuttonbox"> 
            <li><a title="分享到QQ空间" class="iconfont icon-kongjian" data-cmd="qzone"></a></li> 
            <li><a title="分享到QQ好友" class="iconfont icon-qq0" data-cmd="sqq"></a></li> 
            <li><a title="分享到新浪微博" class="iconfont icon-sina" data-cmd="tsina"></a></li> 
            <li><a title="分享到人人网" class="iconfont icon-renren0" data-cmd="renren"></a></li> 
            <li><a title="分享到微信" class="iconfont icon-weixin0" data-cmd="weixin"></a></li> 
           </ul> 
          </div> </span> 
         <div class="clear"></div> 
        </div> 
       </div> 
      </article> 
      <div id="copyright"> 
       <img alt="" src="__HOME__/images/nick.jpg" class="avatar avatar-72" width="72" height="72" /> 
       <ul class="spostinfo"> 
	       <a target="_blank" rel="nofollow" href="{{:url('/detail',['aid'=>encrypt($article.id)],'',true)}}">原文链接</a></li> 
	       <li>版权声明：本站原创文章，于{{$article.created_at|date="Y-m-d",###}}，由<span  rel="author">{{$article.author}}</span>发表。</li> 
	       <li>转载请注明：<span rel="bookmark" >{{$article.title}}</span></li> 
       </ul> 
      </div> 
      <div id="related-img"> 
       <!--如果存在tag标签，列出tag相关文章 --> 
       <!-- 如果tag相关文章少于10篇，那么继续以分类作为相关因素列出相关文章 --> 
       
       {volist name="randArticle" id="vo"}
       <div class="r4"> 
        <div class="related-site"> 
         <figure class="related-site-img"> 
		 <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}"><img src="/{{$vo.img_url}}" alt="{{$vo.title}}" /></a> 
         </figure> 
         <div class="related-title">
		 <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}">{{$vo.title}}</a>
         </div> 
        </div> 
       </div> 
       {/volist}


       <div class="clear"></div> 
      </div> 
      <!-- 上下文 --> 
      <nav class="nav-single"> 
       <a href="www.lampol-blog.com/91.html" rel="prev"><span class="meta-nav"><span class="post-nav"><i class="iconfont icon-chevronleft"></i> 旧一篇</span><br />申请免费的自己域名邮箱</span></a>
       <span class="meta-nav"><span class="post-nav">没有了<br /></span>已是最新文章</span> 
       <div class="clear"></div> 
      </nav> 
      <!-- 文章评论 --> 
      <!-- 引用 --> 
      <div id="comments" class="comments-area"> 
       <h2 class="comments-title"> 2 条留言&nbsp;&nbsp;访客：1 条&nbsp;&nbsp;博主：1 条 </h2> 
       <ol class="comment-list"> 
        <li class="comment even thread-even depth-1 parent" id="comment-34"> 
         <div id="div-comment-34" class="comment-body"> 
          <div class="comment-author vcard"> 
           <img alt="" src="__HOME__/images/tx-2.jpg" class="avatar avatar-48" width="48" height="48" /> 
           <!--<cite class="fn">卡珊德拉</cite> <span class="says">:</span>--> 
           <strong> 卡珊德拉 </strong> 
           <span class="comment-meta commentmetadata"> <a href="www.lampol-blog.com/93.html#comment-34"></a><br /> <span class="comment-aux"> <span class="reply"><a rel="nofollow" class="comment-reply-link" href="www.lampol-blog.com/93.html?replytocom=34#respond" onclick="return addComment.moveForm( &quot;div-comment-34&quot;, &quot;34&quot;, &quot;respond&quot;, &quot;93&quot; )" aria-label="回复给卡珊德拉">回复</a></span> 2017年08月03日 下午4:50 <span class="floor"> &nbsp;沙发 </span> </span> </span> 
          </div> 
          <p>不知博主有没有听过它乱发证书的事情。。。某大数字安全公司旗下的 沃通 收购了 StartCom chrome 火狐都除名了 据说Let’s Encrypt 挺好的 有很多大佬站台</p> 
         </div> 
         <ul class="children"> 
          <li class="comment byuser comment-author-skysmile bypostauthor odd alt depth-2" id="comment-37"> 
           <div id="div-comment-37" class="comment-body"> 
            <div class="comment-author vcard"> 
             <img alt="" src="__HOME__/images/tx-3.jpg" class="avatar avatar-48" width="48" height="48" /> 
             <!--<cite class="fn">skysmile</cite> <span class="says">:</span>--> 
             <strong> skysmile </strong> 
             <strong><font color="#0AB59B">博主</font></strong> 
             <span class="comment-meta commentmetadata"> <a href="www.lampol-blog.com/93.html#comment-37"></a><br /> <span class="comment-aux"> <span class="reply"><a rel="nofollow" class="comment-reply-link" href="www.lampol-blog.com/93.html?replytocom=37#respond" onclick="return addComment.moveForm( &quot;div-comment-37&quot;, &quot;37&quot;, &quot;respond&quot;, &quot;93&quot; )" aria-label="回复给skysmile">回复</a></span> 2017年08月03日 下午6:26 <span class="floor"> &nbsp;1层 </span> </span> </span> 
            </div> 
            <p><span class="at">@<a href="#comment-34">卡珊德拉</a></span> 我已经不用这个了，现在的是赛门铁克的</p> 
           </div> </li>
         </ul>
 </li>

       </ol>

       <div id="respond" class="comment-respond"> 
        <h3 id="reply-title" class="comment-reply-title">给我留言<small><a rel="nofollow" id="cancel-comment-reply-link" href="/93.html#respond" style="display:none;">取消回复</a></small></h3> 
        <form action="www.lampol-blog.com/wp-comments-post.php" method="post" id="commentform"> 
         <div id="comment-author-info"> 
          <p class="comment-form-author"> <input type="text" name="author" id="author" class="commenttext" value="" tabindex="1" /> <label for="author">昵称（必填）</label> </p> 
         </div> 
         <div class="clear"></div> 
         <p class="comment-tool"> 
		 <span class="smiley-box">
	评论内容
</span> </p> 
         <p class="comment-form-comment"><textarea id="comment" name="comment" rows="4" tabindex="4"></textarea></p> 
         <p class="form-submit"> <input id="submit" name="submit" type="submit" tabindex="5" value="提&nbsp;交" /> <input id="reset" name="reset" type="reset" tabindex="6" value="重&nbsp;写" /> <input type="hidden" name="comment_post_ID" value="93" id="comment_post_ID" /> <input type="hidden" name="comment_parent" id="comment_parent" value="0" /> </p> 
        </form> 

       </div> 
      </div> 
      <!-- #comments --> 
     </main> 
    </div> 
