<style>
        .pagination{
                width:300px;
        }
        .pagination li{
                float:left
        }
        .disabled {
                background: #fff none repeat scroll 0 0;
                border: 1px solid #ddd;
                border-radius: 2px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
                float: left;
                line-height: 100%;
                margin: 0 0 10px 5px;
                 padding: 8px 11px;
        }
        .active{
                background:#304040;
                color:#fff;
                 border: 1px solid #ddd;
                 border-radius: 2px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
                float: left;
                line-height: 100%;
                margin: 0 0 10px 5px;
                padding: 8px 11px;
        }
</style>    
<div class="breadcrumb"> 
    <a class="crumbs" title="返回首页" href="/">首页</a>
    <i class="iconfont icon-chevronright">/</i>
    <span>{{$cat_name}}</span>
   </div> 
   <div id="content">
    <div id="primary" class="content-area"> 
     <div id="page"> 
      <div class="catepory-title"> 
       <div class="entry-header">
	       <h1>分类:{{$cat_name}}</h1>
       </div> 
      </div> 
      <main id="main" class="site-main" role="main"> 

	{volist name="articles" id="vo"}
       <article id="post-112" class="post-112 post type-post status-publish format-standard hentry category-computer-technology tag-ie tag-56"> 
        <div class="art-desc"> 
		<h3 class="art-t"> <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}" rel="bookmark" title="{{$vo.title}}">{{$vo.title}}</a> </h3> 
         <div class="more"> 
          <a href="www.lampol-blog.com/112.html" rel="bookmark"><i class="iconfont icon-import"></i></a> 
         </div> 
         <div class="clear"></div> 
         <div style="min-height:150px;margin:20px"> 
          <div class="art-img">
		  <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}"><img src="/{{$vo.img_url}}" alt="卸载IE 11  10  9浏览器" /></a>
          </div> 
	  <span class="art-main">{{$vo.summary}}</span> 
         </div> 
         <div class="clear"></div> 
        </div> 
        <div class="art_ft"> 
         <div class="art-pub"> 
          <div class="views"> 
		  <i class="iconfont icon-chartbar"></i> {{$vo.views}}
          </div> 
          <div class="cmnt"> 
           <a href="www.lampol-blog.com/112.html#respond"><i class="iconfont icon-messageprocessing"></i> 评论</a> 
          </div> 
         </div> 
         <div class="art-info"> 
		 <span class="archive"><i class="iconfont icon-archive" aria-hidden="true"></i>{{$vo.author}}</span> 
		 <span class="data"><i class="iconfont icon-calendartext"></i>{{$vo.created_at|date="Y-m-d",###}}</span> 
		 <span class="tag"><i class="iconfont icon-tagmultiple"></i> <a href="www.lampol-blog.com/tag/ie" rel="tag">{{$vo.tag}}</a></span> 
         </div> 
        </div> 
        <div class="clear"></div> 
       </article> 
       {/volist}

      </main> 
     </div> 
     <nav id="nav-below"> 
      <div class="nav-next"></div> 
      <div class="nav-previous">
       <a href="www.lampol-blog.com/category/share/page/2"></a>
      </div> 
     </nav> 
     {{$articles->render()}}
    </div> 
