<div class="breadcrumb"> 
   <div class="bull"> 
    <i class="iconfont icon-bullhorn" aria-hidden="true"></i> 
   </div> 
   <div id="scrolldiv"> 
    <div class="scrolltext"> 
     <ul> 
      <li>{{$sys.site_notice}}</li> 
     </ul> 
    </div> 
   </div> 
  </div> 
  <div id="content"> 
   <!-- 幻灯片调用begin --> 
   <div id="slider" class="swiper-container"> 
    <div class="swiper-wrapper"> 
     <!-- 自定义栏目幻灯片show --> 
     <!-- 随机幻灯片--> 
	{volist name="pics" id="vo"}
     <div class="swiper-slide"> 
      <div class="swiper-slide-image"> 
       <a href="{{$vo.url}}"><img src="/{{$vo.img_url}}" alt="{{$vo.title}}" /></a> 
      </div> 
      <div class="swiper-slide-text"> 
       <h2><a href="{{$vo.url}}" rel="bookmark">{{$vo.title}}</a></h2> 
       <p> <a href="{{$vo.url}}" target="_blank" rel="bookmark"> {{$vo.summary}} </a> </p> 
      </div> 
     </div> 
	{/volist}

     <!-- 自定义幻灯片 --> 
    </div> 
    <div class="swiper-pagination"></div> 
    <div class="swiper-button-next"></div> 
    <div class="swiper-button-prev"></div> 
   </div> 
   <!-- 幻灯片调用end --> 



   <div id="primary" class="content-area"> 


      <!-- 文章内容开始 --> 
      {volist name="articles" id="vo"}
    <article id="post-167" class="post-167 post type-post status-publish format-standard hentry category-au3 tag-ie11 tag-wmic tag-101"> 
     <div class="art-desc"> 
	     <h3 class="art-t"> <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}" rel="bookmark" title="{{$vo.title}}">{{$vo.title}}</a> </h3> 
      <div class="more"> 
       <a href="javascript:;" rel="bookmark"><i class="iconfont icon-import"></i></a> 
      </div> 
      <div class="clear"></div> 
      <div style="min-height:150px;margin:20px"> 
       <div class="art-img"> 
	       <a href="{{:url('/detail',['aid'=>encrypt($vo.id)])}}"><img src="/{{$vo.img_url}}" alt="{{$vo.title}}" /></a> 
       </div> 
       <span class="art-main">{{$vo.summary}}</span> 
      </div> 
      <div class="clear"></div> 
     </div> 
     <div class="art_ft"> 
      <div class="art-pub"> 
       <div class="views"> 
	       <i class="iconfont icon-chartbar"></i> {{$vo.views}} 
       </div> 
       <div class="cmnt"> 
	       <a href="javascript:;"><i class="iconfont icon-messageprocessing"></i>{{$vo.comments}}</a> 
       </div> 
      </div> 
      <div class="art-info"> 
	      <span class="archive"><i class="iconfont icon-archive" aria-hidden="true"></i> {{$vo.author}}</span> 
	      <span class="data"><i class="iconfont icon-calendartext"></i> {{$vo.created_at|date='Y-m-d H:i:s',###}}</span> 
	      <span class="tag"><i class="iconfont icon-tagmultiple"></i> <a href="javascript:;" rel="tag">{{$vo.tag}}</a></span> 
      </div> 
     </div> 
     <div class="clear"></div> 
    </article> 
    {/volist}
 <!-- 分页开始 --> 
    <nav class="navigation pagination" role="navigation"> 
	    {{$articles->render()}}
    </nav> 
 <!-- 分页结束--> 
   </div> 
   <script>

if($(window).width()>'533'){
	        $('.pagination .active').addClass('page-numbers').addClass('current');
		        $('.pagination').css('width','300px');
			        $('.pagination li').css('float','left');
}else{

	        $('.pagination li').addClass('page-numbers');
		        if($('.active').text()=='1'){

				                $('.pagination li').last().addClass('current').css('margin-left','45%');
						        }else{
								                $('.pagination li').first().addClass('current').css('margin-left','45%');
										        }
			        $('.pagination li a').addClass('screen-reader-text');
}
   </script>



