<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <meta http-equiv="Cache-Control" content="no-siteapp" /> 
  <title>lampol</title> 
  <meta name="description" content="网站描述" /> 
  <meta name="keywords" content="网站关键词" /> 
  <!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]--> 
  <link rel="stylesheet" id="crayon-font-mydream-css" href="__HOME__/css/mydream.css" type="text/css" media="all" /> 
  <link rel="stylesheet" id="style-css" href="__HOME__/css/style.css" type="text/css" media="all" /> 
  <link rel="stylesheet" id="swiper-css-css" href="__HOME__/css/swiper.min.css" type="text/css" media="all" /> 
  <script type="text/javascript" src="__HOME__/js/jquery.min.js"></script> 
  <script src="__HOME__/js/swipe.jquery.min.js"></script> 
 </head> 
 <body> 
  <header id="masthead" class="site-header"> 
   <div id="fix-header"></div> 
   <div id="menu-box"> 
    <div id="main-menu"> 
     <hgroup class="logo-sites"> 
      <h1 class="site-title"> <a href="www.lampol-blog.com/"><img src="__HOME__/images/logo.png" alt="lampol" /></a> </h1> 
     </hgroup> 
     <div id="sidr-close"> 
      <a href="#sidr-close" class="toggle-sidr-close">&times;</a> 
     </div> 
     <a href="#sidr-main" id="navigation-toggle" class="bars"><i class="iconfont icon-viewheadline"></i></a> 
     <div id="site-nav-wrap"> 
      <nav id="site-nav" class="main-nav"> 
       <div class="menu-container"> 
        <ul id="menu" class="down-menu nav-menu"> 
         <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item"><a href="/"><i class="iconfont icon-home"></i>首页</a></li> 
         <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children"><a href="www.lampol-blog.com/category/share"><i class="iconfont icon-codebraces"></i>技术分享</a> </li> 
        </ul> 
       </div> 
      </nav> 
     </div> 
    </div> 
    <div class="clear"></div> 
   </div> 
  </header> 
  <div class="breadcrumb"> 
   <div class="bull"> 
    <i class="iconfont icon-bullhorn" aria-hidden="true"></i> 
   </div> 
   <div id="scrolldiv"> 
    <div class="scrolltext"> 
     <ul> 
      <li>这应该是一个公告的位置吧嗯。。。。！</li> 
      <li>欢迎向本主题提供修改意见！</li> 
     </ul> 
    </div> 
   </div> 
  </div> 
  <div id="content"> 
   <!-- 幻灯片调用begin --> 
   <div id="slider" class="swiper-container"> 
    <div class="swiper-wrapper"> 
     <!-- 自定义栏目幻灯片show --> 
     <!-- 随机幻灯片--> 
     <div class="swiper-slide"> 
      <div class="swiper-slide-image"> 
       <a href="www.lampol-blog.com/104.html"><img src="__HOME__/images/demo.jpg" alt="AU3之浅尝-如何实现只能同时运行一个程序" /></a> 
      </div> 
      <div class="swiper-slide-text"> 
       <h2><a href="www.lampol-blog.com/104.html" rel="bookmark">AU3之浅尝-如何实现只能同时运行一个程序</a></h2> 
       <p> <a href="www.lampol-blog.com/104.html" target="_blank" rel="bookmark">有时候我们制作的程序，不想同时运行好几个，开那么多也没用，只要运行一个即可，那么我们可以用下面的判断 下面来解说下_Singleton 强制脚本仅执行一个 #include _Singleton ( $sOccurrenceName [, ...</a> </p> 
      </div> 
     </div> 

     <div class="swiper-slide"> 
      <div class="swiper-slide-image"> 
       <a href="www.lampol-blog.com/147.html"> <img src="__HOME__/images/demo.jpg" alt="AU3 循环创建标签（动态创建）" /></a> 
      </div> 
      <div class="swiper-slide-text"> 
       <h2><a href="www.lampol-blog.com/147.html" rel="bookmark">AU3 循环创建标签（动态创建）</a></h2> 
       <p> <a href="www.lampol-blog.com/147.html" target="_blank" rel="bookmark">在AU3中我们有时候需要动态创建标签，利用FOR...TO... 语句循环创建，那个相对于的坐标值也要相对应改变，下面先从最简单的，单向创建，也就是横向创建或者纵向创建，均是单列或单行 代码如下： [crayon-59ffcc56d1e84...</a> </p> 
      </div> 
     </div> 
     <!-- 自定义幻灯片 --> 
    </div> 
    <div class="swiper-pagination"></div> 
    <div class="swiper-button-next"></div> 
    <div class="swiper-button-prev"></div> 
   </div> 
   <!-- 幻灯片调用end --> 



   <div id="primary" class="content-area"> 


      <!-- 文章内容开始 --> 
    <article id="post-167" class="post-167 post type-post status-publish format-standard hentry category-au3 tag-ie11 tag-wmic tag-101"> 
     <div class="art-desc"> 
      <h3 class="art-t"> <a href="www.lampol-blog.com/167.html" rel="bookmark" title="运用autoit写的系统补丁检测">运用autoit写的系统补丁检测</a> </h3> 
      <div class="more"> 
       <a href="www.lampol-blog.com/167.html" rel="bookmark"><i class="iconfont icon-import"></i></a> 
      </div> 
      <div class="clear"></div> 
      <div style="min-height:150px;margin:20px"> 
       <div class="art-img"> 
        <a href="www.lampol-blog.com/167.html"><img src="__HOME__/images/demo.jpg" alt="运用autoit写的系统补丁检测" /></a> 
       </div> 
       <span class="art-main">下面以安装IE11的先决条件的6个必要补丁作为案例，来检测系统是否安装过这个6个补丁。 AutoIt Global $KB2533623 , $KB2670838 , $KB2729094 , $KB2731771 , $KB2786081 , $KB2834...</span> 
      </div> 
      <div class="clear"></div> 
     </div> 
     <div class="art_ft"> 
      <div class="art-pub"> 
       <div class="views"> 
        <i class="iconfont icon-chartbar"></i> 712 
       </div> 
       <div class="cmnt"> 
        <a href="www.lampol-blog.com/167.html#comments"><i class="iconfont icon-messageprocessing"></i> 5</a> 
       </div> 
      </div> 
      <div class="art-info"> 
       <span class="archive"><i class="iconfont icon-archive" aria-hidden="true"></i> <a href="www.lampol-blog.com/category/au3">AU3编程</a></span> 
       <span class="data"><i class="iconfont icon-calendartext"></i> 2017-05-12</span> 
       <span class="tag"><i class="iconfont icon-tagmultiple"></i> <a href="www.lampol-blog.com/tag/ie11" rel="tag">IE11</a>、<a href="www.lampol-blog.com/tag/wmic" rel="tag">wmic</a>、<a href="www.lampol-blog.com/tag/%e7%b3%bb%e7%bb%9f%e8%a1%a5%e4%b8%81%e6%a3%80%e6%b5%8b" rel="tag">系统补丁检测</a></span> 
      </div> 
     </div> 
     <div class="clear"></div> 
    </article> 
    <article id="post-165" class="post-165 post type-post status-publish format-standard hentry category-computer-technology tag-hotfixid tag-systeminfo tag-wmic tag-98"> 
     <div class="art-desc"> 
      <h3 class="art-t"> <a href="www.lampol-blog.com/165.html" rel="bookmark" title="检索Windows系统已安装补丁的方法">检索Windows系统已安装补丁的方法</a> </h3> 
      <div class="more"> 
       <a href="www.lampol-blog.com/165.html" rel="bookmark"><i class="iconfont icon-import"></i></a> 
      </div> 
      <div class="clear"></div> 
      <div style="min-height:150px;margin:20px"> 
       <div class="art-img"> 
        <a href="www.lampol-blog.com/165.html"><img src="__HOME__/images/demo.jpg" alt="检索Windows系统已安装补丁的方法" /></a> 
       </div> 
       <span class="art-main">某些情况下，我们需要检索系统安装了那些补丁，以为后面安装软件做准备，比较简单直观的方法就是在控制面板&gt;程序与功能&gt;查看已安装的更新，可以看到，但是如果我们需要这些补丁的列表该怎么做呢？ Systeminfo方法...</span> 
      </div> 
      <div class="clear"></div> 
     </div> 
     <div class="art_ft"> 
      <div class="art-pub"> 
       <div class="views"> 
        <i class="iconfont icon-chartbar"></i> 856 
       </div> 
       <div class="cmnt"> 
        <a href="www.lampol-blog.com/165.html#respond"><i class="iconfont icon-messageprocessing"></i> 评论</a> 
       </div> 
      </div> 
      <div class="art-info"> 
       <span class="archive"><i class="iconfont icon-archive" aria-hidden="true"></i> <a href="www.lampol-blog.com/category/share/computer-technology">电脑技术</a></span> 
       <span class="data"><i class="iconfont icon-calendartext"></i> 2017-05-12</span> 
       <span class="tag"><i class="iconfont icon-tagmultiple"></i> <a href="www.lampol-blog.com/tag/hotfixid" rel="tag">hotfixid</a>、<a href="www.lampol-blog.com/tag/systeminfo" rel="tag">systeminfo</a>、<a href="www.lampol-blog.com/tag/wmic" rel="tag">wmic</a>、<a href="www.lampol-blog.com/tag/%e7%b3%bb%e7%bb%9f%e8%a1%a5%e4%b8%81" rel="tag">系统补丁</a></span> 
      </div> 
     </div> 
     <div class="clear"></div> 
    </article> 
    <!-- 文章内容结束 --> 
  
 <!-- 分页开始 --> 
    <nav class="navigation pagination" role="navigation"> 
     <h2 class="screen-reader-text">文章导航</h2> 
     <div class="nav-links"> 
      <span class="page-numbers current"><span class="screen-reader-text">第 </span>1<span class="screen-reader-text"> 页</span></span> 
      <a class="page-numbers" href="www.lampol-blog.com/page/2"><span class="screen-reader-text">第 </span>2<span class="screen-reader-text"> 页</span></a> 
      <a class="page-numbers" href="www.lampol-blog.com/page/3"><span class="screen-reader-text">第 </span>3<span class="screen-reader-text"> 页</span></a> 
      <span class="page-numbers dots">…</span> 
      <a class="page-numbers" href="www.lampol-blog.com/page/5"><span class="screen-reader-text">第 </span>5<span class="screen-reader-text"> 页</span></a> 
      <a class="next page-numbers" href="www.lampol-blog.com/page/2"><i class="iconfont icon-chevronright"></i></a> 
     </div> 
    </nav> 
 <!-- 分页结束--> 
   </div> 






<!-- 右侧开始--> 
   <div id="sidebar" class="widget-area"> 
<!-- 右侧搜索框开始--> 
    <aside id="search-2" class="widget widget_search"> 
     <div id="searchbar"> 
      <form method="get" id="searchform" action="www.lampol-blog.com/"> 
       <input type="text" value="" name="s" id="s" placeholder="输入搜索内容" required="" /> 
       <button type="submit" id="searchsubmit">搜索</button> 
      </form> 
     </div> 
     <div class="clear"></div> 
    </aside> 
<!-- 右侧搜索框结束--> 
<!-- 右侧分类开始--> 
    <aside id="categories-2" class="widget widget_categories"> 
     <h3 class="widget-title"><i class="iconfont icon-viewgrid"></i>分类目录</h3> 
     <ul> 
      <li class="cat-item cat-item-47"><a href="www.lampol-blog.com/category/au3">AU3编程</a> </li> 
      <li class="cat-item cat-item-2"><a href="www.lampol-blog.com/category/share/wordpress" title="分享关于wordpress的技术，代码">Wordpress</a> </li> 
      <li class="cat-item cat-item-28"><a href="www.lampol-blog.com/category/digital-secret">数字奥秘</a> </li> 
      <li class="cat-item cat-item-88"><a href="www.lampol-blog.com/category/share/%e6%b3%a8%e5%86%8c%e8%a1%a8%e7%9b%b8%e5%85%b3">注册表相关</a> </li> 
      <li class="cat-item cat-item-23"><a href="www.lampol-blog.com/category/share/computer-technology">电脑技术</a> </li> 
      <li class="cat-item cat-item-6"><a href="www.lampol-blog.com/category/share/web-technology">网站技术</a> </li> 
     </ul> 
     <div class="clear"></div> 
    </aside> 
	<!-- 右侧分类结束--> 

	<!-- 近期文章开始--> 
    <aside id="recent-posts-2" class="widget widget_recent_entries"> 
     <h3 class="widget-title"><i class="iconfont icon-viewgrid"></i>近期文章</h3> 
     <ul> 
      <li> <a href="www.lampol-blog.com/185.html">MyDream主题使用教程</a> </li> 
      <li> <a href="www.lampol-blog.com/167.html">运用autoit写的系统补丁检测</a> </li> 
      <li> <a href="www.lampol-blog.com/165.html">检索Windows系统已安装补丁的方法</a> </li> 
      <li> <a href="www.lampol-blog.com/162.html">IE11的离线安装制作，无需联网</a> </li> 
      <li> <a href="www.lampol-blog.com/161.html">屏蔽重置浏览器第一次打开弹出IE升级页面</a> </li> 
      <li> <a href="www.lampol-blog.com/159.html">Internet 临时文件和历史记录设置-注册表</a> </li> 
      <li> <a href="www.lampol-blog.com/151.html">AU3给系统安装字体</a> </li> 
      <li> <a href="www.lampol-blog.com/147.html">AU3 循环创建标签（动态创建）</a> </li> 
      <li> <a href="www.lampol-blog.com/145.html">AU3相关常用代码</a> </li> 
      <li> <a href="www.lampol-blog.com/142.html">AU3 文件拖动到ListView并做图片缩放</a> </li> 
     </ul> 
     <div class="clear"></div> 
    </aside> 
<!-- 近期文章结束--> 
    <aside id="img_cat-2" class="widget img_cat"> 
     <h3 class="widget-title"><i class="iconfont icon-viewgrid"></i>最多评论</h3> 
     <div class="img_cat"> 
      <ul> 
       <div class="img-box"> 
        <div class="img-x2"> 
         <figure class="insets"> 
          <a href="www.lampol-blog.com/27.html"><img src="__HOME__/images/demo.jpg" alt="MYDREAM主题 最新更新版本V1.8 2017-8-23更新" /></a> 
          <div class="img-title"> 
           <a href="www.lampol-blog.com/27.html" rel="bookmark">MYDREAM主题 最新更新版本V1.8 2017-8-23更新</a> 
          </div> 
         </figure> 
        </div> 
       </div> 
       <div class="img-box"> 
        <div class="img-x2"> 
         <figure class="insets"> 
          <a href="www.lampol-blog.com/100.html"><img src="__HOME__/images/demo.jpg" alt="Wordpress插件之CKPlayer" /></a> 
          <div class="img-title"> 
           <a href="www.lampol-blog.com/100.html" rel="bookmark">WordPress插件之CKPlayer</a> 
          </div> 
         </figure> 
        </div> 
       </div> 
       <div class="img-box"> 
        <div class="img-x2"> 
         <figure class="insets"> 
          <a href="www.lampol-blog.com/167.html"><img src="__HOME__/images/demo.jpg" alt="运用autoit写的系统补丁检测" /></a> 
          <div class="img-title"> 
           <a href="www.lampol-blog.com/167.html" rel="bookmark">运用autoit写的系统补丁检测</a> 
          </div> 
         </figure> 
        </div> 
       </div> 
       <div class="img-box"> 
        <div class="img-x2"> 
         <figure class="insets"> 
          <a href="www.lampol-blog.com/185.html"><img src="__HOME__/images/demo.jpg" alt="MyDream主题使用教程" /></a> 
          <div class="img-title"> 
           <a href="www.lampol-blog.com/185.html" rel="bookmark">MyDream主题使用教程</a> 
          </div> 
         </figure> 
        </div> 
       </div> 
       <div class="clear"></div> 
      </ul> 
     </div> 
     <div class="clear"></div> 
    </aside> 

		<!-- 人们标签开始--> 
    <div class="sidebar-roll"> 
     <aside id="tag_cloud-2" class="widget tag_cloud"> 
      <h3 class="widget-title"><i class="iconfont icon-viewgrid"></i>热门标签</h3> 
      <div class="tagcloud"> 
       <a href="www.lampol-blog.com/tag/%e7%99%be%e5%ba%a6%e5%88%86%e4%ba%ab" class="tag-cloud-link tag-link-3 tag-link-position-1" style="color:#70807a;font-size: 15px;;">百度分享</a> 
       <a href="www.lampol-blog.com/tag/wordpress" class="tag-cloud-link tag-link-16 tag-link-position-2" style="color:#63e40e;font-size: 15px;;">wordpress</a> 
       <a href="www.lampol-blog.com/tag/mydream" class="tag-cloud-link tag-link-14 tag-link-position-3" style="color:#84dde8;font-size: 15px;;">MyDream</a> 
       <div class="clear"></div> 
      </div> 
      <div class="clear"></div> 
     </aside> 
    </div> 
	<!-- 热门标签结束--> 
   </div> 
   <div class="clear"></div> 
  </div> 
  <!-- 友情链接 --> 
  <div id="links"> 
   <ul> 
    <li id="linkcat-25" class="linkcat"><h2>博友</h2> 
     <ul class="xoxo blogroll"> 
      <span class="lx7"><span class="link-f"><a href="http://www.maninmusic.com" target="_blank">乐之随</a></span></span> 
      <span class="lx7"><span class="link-f"><a href="http://www.ichenkun.cn" rel="nofollow" target="_blank">个人网站</a></span></span> 
      <span class="lx7"><span class="link-f"><a href="https://www.lukedever.cn" target="_blank">Lukedever</a></span></span> 
     </ul> </li> 
    <span class="lx7"> <span class="link-f"> <li><a href="www.lampol-blog.com/links" target="_blank" title="全部链接">更多链接<i class="icon-li"></i></a></li> </span> </span> 
   </ul> 
   <div class="clear"></div> 
  </div> 
  <!-- 版权说明 --> 
  <footer id="footer"> 
   <div class="bottom-nav"> 
    <div class="menu-container"> 
     <ul id="menu" class="bottom-menu"> 
      <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="www.lampol-blog.com/archives">文章归档</a></li> 
      <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a href="www.lampol-blog.com/sitemap">站点地图</a></li> 
      <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="www.lampol-blog.com/message">给我留言</a></li> 
      <li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a href="www.lampol-blog.com/links">友情链接</a></li> 
     </ul> 
    </div> 
   </div> 
   <div id="contentinfo">
     Copyright &copy; 2007-2017 
    <a href="www.lampol-blog.com/" rel="home">lampol</a> All rights reserved. | Theme by 
    <a href="www.lampol-blog.com/27.html" title="lampol" target="_blank">Mydream</a> | 鲁ICP备11034536号 
   </div> 
  </footer> 
  <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        loop: true, /**循环**/
		autoplayDisableOnInteraction: false,
		direction: 'vertical',	/**切换方向**/	
		speed: 500,  /**幻灯片切换时间**/
		autoplay: 5000, /**设置，自动播放开启，并设置停留时间**/
        paginationClickable: true, /**导航可以点击**/
		effect: 'flip', /**切换效果**/	
    });
</script> 
 </body>
</html>
