
@font-face {font-family: "iconfont";
  src: url('../fonts/font.eot'); /* IE9*/
  src: url('../fonts/font.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/font.woff') format('woff'), /* chrome, firefox */
  url('../fonts/font.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/font.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baidu0:before { content: "\e600"; }

.icon-douban:before { content: "\e601"; }

.icon-huaban:before { content: "\e602"; }

.icon-iconfontshoucang:before { content: "\e603"; }

.icon-kaixinwang:before { content: "\e604"; }

.icon-kongjian:before { content: "\e605"; }

.icon-meilishuo:before { content: "\e606"; }

.icon-pengyouquan0:before { content: "\e607"; }

.icon-pengyouquanyin0:before { content: "\e608"; }

.icon-pinterest0:before { content: "\e609"; }

.icon-qq0:before { content: "\e60a"; }

.icon-renren0:before { content: "\e60b"; }

.icon-sina:before { content: "\e60c"; }

.icon-taobao:before { content: "\e60d"; }

.icon-twitter:before { content: "\e60e"; }

.icon-wangwang:before { content: "\e60f"; }

.icon-weibo:before { content: "\e610"; }

.icon-weixin0:before { content: "\e611"; }

.icon-xin:before { content: "\e612"; }

.icon-zhifubao0:before { content: "\e613"; }

.icon-zhihu:before { content: "\e614"; }

.icon-account:before { content: "\e615"; }

.icon-accountcircle:before { content: "\e616"; }

.icon-accountsearch:before { content: "\e617"; }

.icon-archive:before { content: "\e618"; }

.icon-bullhorn:before { content: "\e619"; }

.icon-cached:before { content: "\e61a"; }

.icon-cakelayered:before { content: "\e61b"; }

.icon-calendarplus:before { content: "\e61c"; }

.icon-calendartext:before { content: "\e61d"; }

.icon-camera:before { content: "\e61e"; }

.icon-cast:before { content: "\e61f"; }

.icon-cat:before { content: "\e620"; }

.icon-chartbar:before { content: "\e621"; }

.icon-chartline:before { content: "\e622"; }

.icon-chevrondoubledown:before { content: "\e623"; }

.icon-chevrondoubleleft:before { content: "\e624"; }

.icon-chevrondoubleright:before { content: "\e625"; }

.icon-chevrondown:before { content: "\e626"; }

.icon-chevronleft:before { content: "\e627"; }

.icon-chevronright:before { content: "\e628"; }

.icon-chevronup:before { content: "\e629"; }

.icon-city:before { content: "\e62a"; }

.icon-clipboardaccount:before { content: "\e62b"; }

.icon-codebraces:before { content: "\e62c"; }

.icon-codetags:before { content: "\e62d"; }

.icon-cow:before { content: "\e62e"; }

.icon-desktopmac:before { content: "\e62f"; }

.icon-diamond:before { content: "\e630"; }

.icon-download:before { content: "\e631"; }

.icon-duck:before { content: "\e632"; }

.icon-earth:before { content: "\e633"; }

.icon-emoticondevil:before { content: "\e634"; }

.icon-emoticonpoop:before { content: "\e635"; }

.icon-engine:before { content: "\e636"; }

.icon-folderaccount:before { content: "\e637"; }

.icon-formatlistnumbers:before { content: "\e638"; }

.icon-forum:before { content: "\e639"; }

.icon-ghost:before { content: "\e63a"; }

.icon-githubbox:before { content: "\e63b"; }

.icon-githubcircle:before { content: "\e63c"; }

.icon-googlechrome:before { content: "\e63d"; }

.icon-headphones:before { content: "\e63e"; }

.icon-heart:before { content: "\e63f"; }

.icon-home:before { content: "\e640"; }

.icon-imagefilterdrama:before { content: "\e641"; }

.icon-imagefilternone:before { content: "\e642"; }

.icon-imagefiltervintage:before { content: "\e643"; }

.icon-imagemultiple:before { content: "\e644"; }

.icon-import:before { content: "\e645"; }

.icon-information:before { content: "\e646"; }

.icon-informationoutline:before { content: "\e647"; }

.icon-internetexplorer:before { content: "\e648"; }

.icon-jeepney:before { content: "\e649"; }

.icon-keyvariant:before { content: "\e64a"; }

.icon-leaf:before { content: "\e64b"; }

.icon-ledon:before { content: "\e64c"; }

.icon-laptop:before { content: "\e64d"; }

.icon-laptopchromebook:before { content: "\e64e"; }

.icon-laptopmac:before { content: "\e64f"; }

.icon-laptopwindows:before { content: "\e650"; }

.icon-launch:before { content: "\e651"; }

.icon-layers:before { content: "\e652"; }

.icon-login:before { content: "\e653"; }

.icon-libraryplus:before { content: "\e654"; }

.icon-lock:before { content: "\e656"; }

.icon-lockopen:before { content: "\e657"; }

.icon-lockopenoutline:before { content: "\e658"; }

.icon-lockoutline:before { content: "\e659"; }

.icon-logout:before { content: "\e65a"; }

.icon-magnify:before { content: "\e65b"; }

.icon-magnifyminus:before { content: "\e65c"; }

.icon-magnifyplus:before { content: "\e65d"; }

.icon-menudown:before { content: "\e65e"; }

.icon-menuleft:before { content: "\e65f"; }

.icon-menuright:before { content: "\e660"; }

.icon-menuup:before { content: "\e661"; }

.icon-messageprocessing:before { content: "\e662"; }

.icon-messagereply:before { content: "\e663"; }

.icon-messagereplytext:before { content: "\e664"; }

.icon-messagetext:before { content: "\e665"; }

.icon-microsoft:before { content: "\e666"; }

.icon-minus:before { content: "\e965"; }

.icon-monitor:before { content: "\e667"; }

.icon-monitormultiple:before { content: "\e668"; }

.icon-movie:before { content: "\e669"; }

.icon-musicbox:before { content: "\e66a"; }

.icon-musicboxoutline:before { content: "\e66b"; }

.icon-musiccircle:before { content: "\e66c"; }

.icon-musicnote:before { content: "\e66d"; }

.icon-navigation:before { content: "\e66e"; }

.icon-newspaper:before { content: "\e66f"; }

.icon-notetext:before { content: "\e670"; }

.icon-notificationclearall:before { content: "\e671"; }

.icon-openinapp:before { content: "\e672"; }

.icon-openinnew:before { content: "\e673"; }

.icon-packagevariant:before { content: "\e674"; }

.icon-panda:before { content: "\e675"; }

.icon-papercutvertical:before { content: "\e676"; }

.icon-paw:before { content: "\e677"; }

.icon-plus:before { content: "\e678"; }

.icon-pound:before { content: "\e679"; }

.icon-printer:before { content: "\e67a"; }

.icon-printeralert:before { content: "\e67b"; }

.icon-puzzle:before { content: "\e67c"; }

.icon-radar:before { content: "\e67d"; }

.icon-radioactive:before { content: "\e67e"; }

.icon-recycle:before { content: "\e67f"; }

.icon-refresh:before { content: "\e680"; }

.icon-reply:before { content: "\e681"; }

.icon-replyall:before { content: "\e682"; }

.icon-routes:before { content: "\e683"; }

.icon-rss:before { content: "\e684"; }

.icon-rssbox:before { content: "\e685"; }

.icon-send:before { content: "\e686"; }

.icon-settings:before { content: "\e687"; }

.icon-sharevariant:before { content: "\e688"; }

.icon-squareinccash:before { content: "\e689"; }

.icon-tableedit:before { content: "\e68a"; }

.icon-television:before { content: "\e68b"; }

.icon-televisionguide:before { content: "\e68c"; }

.icon-tag:before { content: "\e68d"; }

.icon-tagmultiple:before { content: "\e68e"; }

.icon-teamviewer:before { content: "\e68f"; }

.icon-telegram:before { content: "\e690"; }

.icon-thumbupoutline:before { content: "\e691"; }

.icon-ticketaccount:before { content: "\e692"; }

.icon-thumbdown:before { content: "\e693"; }

.icon-thumbdownoutline:before { content: "\e694"; }

.icon-thumbup:before { content: "\e695"; }

.icon-tooltipedit:before { content: "\e696"; }

.icon-unfoldless:before { content: "\e697"; }

.icon-unfoldmore:before { content: "\e698"; }

.icon-upload:before { content: "\e699"; }

.icon-vectorcombine:before { content: "\e69a"; }

.icon-viewdashboard:before { content: "\e69b"; }

.icon-video:before { content: "\e69c"; }

.icon-viewgrid:before { content: "\e69d"; }

.icon-viewheadline:before { content: "\e69e"; }

.icon-viewlist:before { content: "\e69f"; }

.icon-viewmodule:before { content: "\e6a0"; }

.icon-vimeo:before { content: "\e6a1"; }

.icon-whatsapp:before { content: "\e6a2"; }

.icon-windows:before { content: "\e6a3"; }

.icon-wordpress:before { content: "\e6a4"; }

.icon-wrench:before { content: "\e6a5"; }

.icon-xboxcontroller:before { content: "\e6a6"; }

.icon-windows1:before { content: "\e6a7"; }

.icon-xboxcontroller1:before { content: "\e6a8"; }

.icon-windowclose:before { content: "\e6a9"; }

.icon-xml:before { content: "\e6aa"; }

.icon-linux1:before { content: "\e6c1"; }

